<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Ruby on Rails Tutorial Help page</a>
  To get help on this Sample App the
  <a href="http://railstutorial.org/book">Tutorial Book</a>
</p>

